<ion-header>
  <ion-toolbar>
    <ion-title>Jugador</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="secondary" *ngIf="canEdit">
      <ion-button (click)="showEdit(player)">
        <ion-icon name="create"></ion-icon>      
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-refresher slot="fixed" (ionRefresh)="init($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="ion-text-center">
    <ion-chip class="chip" color="secondary" *ngIf="isAdmin">
      <ion-label class="msj-is-admin">
        Eres el administrador de este perfil, puede activar la edicion aquí.
      </ion-label>
      <ion-toggle [(ngModel)]="canEdit"></ion-toggle>

    </ion-chip>
  </div>
  
  
  <div *ngIf="player">
    <ion-card>
      <!-- <ion-img [src]="getPhoto()" ></ion-img> -->

      <ion-img-viewer class="ion-text-center"
        title="Jugador" 
        [text]="player.name"
        scheme="dark" 
        [src]="getPhoto()">
      </ion-img-viewer>

      <h3 class="ion-text-center">{{player.name}}</h3>
    </ion-card>
  </div>

  <div *ngIf="player">
    <div class="content-data">
      <ion-grid>
        <ion-row >
          <ion-col class="data">
            <div>
              Edad
            </div>
            <div class="data-value">
              {{getYears(player.birth_date)}}
            </div>
          </ion-col>
          <ion-col class="data">
            <div class="ion-text-end">
              Peso
            </div>
            <div class="data-value ion-text-end">
              {{player.weight}}
            </div>
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col class="data">
            <div>
              Posición
            </div>
            <div class="data-value" *ngIf="player.position">
              {{player.position.name}}
            </div>
          </ion-col>
          <ion-col class="data">
            <div class="ion-text-end"> 
              Altura
            </div>
            <div class="data-value ion-text-end">
              {{player.height}}
            </div>
          </ion-col>
        </ion-row>
  
      </ion-grid>
  
      <div class=" cami ion-text-center">
        <div class="cami-c">
          <div class="cami-name" >{{player.name}}</div>
          <ion-img 
            class="cami-img"
            [src]="'assets/images/cam.png'"
            style="border-radius:50%; background-position:center center; background-size:cover; ">
          </ion-img>
          <div class="cami-number">{{player.number}}</div>
          </div>
      </div>
    </div>

    <div class="player-team bg-l2" *ngIf="player && player.team">
      <ion-text class="player-team-title" >Equipo Actual</ion-text>
  
      <div>
        <ion-item routerLink="/team/profile/{{player.team.id}}" >
          <ion-thumbnail slot="start">
            <ion-img 
              [src]="player.team.shield ? player.team.shield.urlComplete : 'assets/images/shield_team.png'"
              style="border-radius:50%; background-position:center center; background-size:cover; width:50px; height:50px;">
            </ion-img>
          </ion-thumbnail>
          <ion-label >
            <h2>{{player.team.name}}</h2>
          </ion-label>
        </ion-item>
      </div>
  
    </div>

    <div>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Estadísticas</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-list>
            <ion-item>
              <label>Goles</label>
              <ion-note slot="end" color="primary">{{player.countGoals}}</ion-note>
            </ion-item>

            <ion-item>
              <label>Asistencias</label>
              <ion-note slot="end" color="primary">{{player.countAssistence}}</ion-note>
            </ion-item>

            <ion-item>
              <label>Rojas</label>
              <ion-note slot="end" color="primary">{{player.countRed}}</ion-note>
            </ion-item>

            <ion-item>
              <label>Amarillas</label>
              <ion-note slot="end" color="primary">{{player.countYellow}}</ion-note>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
    

  </div>

 

  <app-red-list
    [nameModel] = "'Player'"
    [idModel] = "id"
    [isAdmin] = "canEdit"
  ></app-red-list>
 

</ion-content>
