<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
      
    <ion-list-header *ngIf="list.length == 0"  color="tertiary">
      <ion-label>Sin Opciones</ion-label>
    </ion-list-header>
 
    <ion-item *ngFor="let item of list"  (click)="goTo(item)">
      <span>
        <ion-icon name="log-out-outline"></ion-icon>
      </span>
      <ion-label >
        <h3>{{item.name}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
