<ion-header>
  <ion-toolbar>
    <ion-title>Partido</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="game" *ngIf="game">
    
    
    <app-game-list
      [game] = "game">
    </app-game-list>

    <div class="ion-text-center">
      <ion-badge color="tertiary">{{game.status}}</ion-badge>
    </div>
   

    <ion-card *ngIf="game.location">
      <ion-card-header>
        <ion-card-subtitle>Ubicación</ion-card-subtitle>
        <ion-card-title>{{game.location}}</ion-card-title>
      </ion-card-header>
    </ion-card>

   
   
    <app-comments
      [idRelation]="id"
      [nameRelationModel]="'Game'"
    ></app-comments>

  </div>

</ion-content>
