<ion-header>
  <ion-toolbar>
    <ion-title>Partido</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="game" *ngIf="game">
    
    <ion-card>
      <ion-card-content>
        <div class="team-list contenedor ">
          <div class="team">
              <h2>
                {{game.team_l.name}}
              </h2>
            <ion-thumbnail slot="end">
              <ion-img 
                class="img-team"
                [src]="game.team_l.shield ? game.team_l.shield.urlComplete : 'assets/images/shield_team.png'">
              </ion-img>
            </ion-thumbnail>
          </div>
    
          <div class="vs">vs</div>
    
          <div class="team">
            <h2>
              {{game.team_v.name}}
            </h2>
            <ion-thumbnail slot="start">
              <ion-img 
                class="img-team"
                [src]="game.team_v.shield ? game.team_v.shield.urlComplete : 'assets/images/shield_team.png'"
                >
              </ion-img>
            </ion-thumbnail>
          </div>
        </div>
        <div class="date ">
          <ion-label color="primary" class="ion-text-center">
            <ion-icon name="calendar-outline"></ion-icon>
            {{util.setFormatMoment(game.date,'ddd DD MMM')}}   {{ util.formatHours( game.time )  }}
          </ion-label>
        </div>
      </ion-card-content>
    </ion-card>  

    <div class="ion-text-center">
      <ion-badge color="tertiary">{{game.status}}</ion-badge>
    </div>
   

    <ion-card *ngIf="game.location">
      <ion-card-header>
        <ion-card-subtitle>Ubicación</ion-card-subtitle>
        <ion-card-title>{{game.location}}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <app-event-list [game_id]="id" ></app-event-list>
   
    <app-comments
      [idRelation]="id"
      [nameRelationModel]="'Game'"
    ></app-comments>

  </div>

</ion-content>
