<ion-header>
  <ion-toolbar>
    <ion-title>Recortar</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>      
      </ion-button>

      <ion-button (click)="save()">
        <ion-icon name="checkmark"></ion-icon>      
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <image-cropper
    *ngIf="ar == '1 / 1'"
      [imageBase64]="imageBase64"
      [maintainAspectRatio]="true"
      [aspectRatio]= "1 / 1"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
  ></image-cropper>

  <image-cropper
  *ngIf="ar == '4 / 3'"
    [imageBase64]="imageBase64"
    [maintainAspectRatio]="true"
    [aspectRatio]= "4 / 3"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>

<image-cropper
*ngIf="ar == '16 / 9'"
  [imageBase64]="imageBase64"
  [maintainAspectRatio]="true"
  [aspectRatio]= "16 / 9"
  format="png"
  (imageCropped)="imageCropped($event)"
  (imageLoaded)="imageLoaded()"
  (cropperReady)="cropperReady()"
  (loadImageFailed)="loadImageFailed()"
></image-cropper>

<img [src]="croppedImage" />

<ion-button expand="block" fill="clear" (click)="save()">Guardar</ion-button>

</ion-content>
