<ion-header>
  <ion-toolbar>
    <ion-title>Buscar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar
  [showCancelButton]="showCancelButton"
  (keyup)="onInput($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>

<ion-content>



  <ion-item-group>
    
    <ion-item *ngFor="let item of listSelect"     (click)="removeItem(item)" >
      {{item.text}}
      <ion-note slot="end" color="success">SELECCIONADO</ion-note>
    </ion-item>
   

    <ion-list-header *ngIf="list.length == 0"  color="tertiary">
      <ion-label>No se ha encontrado registros</ion-label>
    </ion-list-header>
  
    <ion-item *ngFor="let item of list"    (click)="select(item)" >{{item.text}}</ion-item>

  </ion-item-group>


  <ion-button *ngIf="multiple" class="bottom" expand="block" (click)="finalize()" >Finalizar</ion-button>



</ion-content>
