<ion-header>
  <ion-toolbar>
    <ion-title>Equipos</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
      <ion-button color="dark" (click)="close()">
          <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="teamService.api_all($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ion-list-header *ngIf="teamService.list.length == 0"  color="tertiary">
      <ion-label>Sin registros</ion-label>
    </ion-list-header>
   
      <ion-item *ngFor="let team of teamService.list" routerLink="/team/profile/{{team.id}}" routerDirection="forward" >
        <ion-thumbnail slot="start">
          <ion-img 
            [src]="team.shield ? team.shield.urlComplete : 'assets/images/shield_team.png'"
            style="border-radius:50%; background-position:center center; background-size:cover; width:50px; height:50px;">
          </ion-img>
        </ion-thumbnail>
        <ion-label >
          <h3>{{team.name}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>


</ion-content>
