<ion-header>
  <ion-toolbar>
    <ion-title>Equipos</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
      <ion-button color="dark" (click)="close()">
          <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
  </ion-buttons>
</ion-header>

<ion-content>

  <div *ngIf="!firstLoad">
    <ion-refresher slot="fixed" (ionRefresh)="init($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  
    <ion-list>
  
      <ion-list-header *ngIf="teams.length == 0"  color="tertiary">
        <ion-label>Sin registros</ion-label>
      </ion-list-header>
     
      <ion-item *ngFor="let team of teams" routerLink="/team/profile/{{team.id}}" routerDirection="forward" class="team-list" >
        <ion-avatar slot="start" >
          <ion-img 
            [src]="team.shield ? team.shield.urlComplete : 'assets/images/shield_team.png'">
          </ion-img>
        </ion-avatar>
        <ion-label >
          <h3>{{team.name}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="firstLoad">
    <ion-item *ngFor="let i of listSkeleton" >
      <ion-avatar slot="start" >
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label >
        <h3>
          <ion-skeleton-text animated style="width: 80%;height: 20px;"></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
  </div>
  


</ion-content>
