<ion-card>
  <ion-card-header *ngIf="withTitle">
    <ion-card-title>Comentarios</ion-card-title>
  </ion-card-header>

  <ion-card-content> 

    <ion-list>
      <ion-item *ngIf="listComments.length < 1">
        <ion-note style="font-size: large;">Se el primero en comentar!!!</ion-note>
      </ion-item>
      <ion-item  *ngFor="let item of listComments">
        <div class="comment-item" >

          <ion-thumbnail slot="start" class="comment-image">
            <ion-img
              (click)="openViewer(item)"
              class="comment-image" 
              [src]="getPhoto(item)"
              style="border-radius:50%; background-position:center center; background-size:cover; width:40px; height:40px;">
            </ion-img>
          </ion-thumbnail>

          <div class="comment-data">
            <div class="comment-user">
              <a [routerLink]="'/users/' + item.user.id +'/profile'">
                {{item.user.last_name }} {{item.user.first_name }}
              </a>
            </div>
            <div class="comment-body first-uppercase">
                {{item.body}}
            </div>
            <div class="comment-date">{{ formatDate(item.created_at)}}</div>
          </div>

        </div>
        

       
      </ion-item>
    </ion-list>

    <form (ngSubmit)="send()" >

      <div class="content-comment">
        <div class="content-comment-text">
          <ion-textarea  class="editor-text first-uppercase" [(ngModel)]="comment.body" name="body"  placeholder="Escreibe un comentario..." ></ion-textarea>
        </div>
        <div>
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button  class="edditor-send" size="small" color="primary" type="submit" (click)="send()"  [disabled]="sending">
              <ion-icon name="send-sharp" *ngIf="!sending"></ion-icon>
              <ion-spinner name="lines" *ngIf="sending" ></ion-spinner>

            </ion-fab-button>
          </ion-fab>
        </div>
      </div>

      <!-- <ion-grid>
        <ion-row class="editor">
          <ion-col size="10">
            <div>
              <ion-textarea  class="editor-text" [(ngModel)]="comment.body" name="body"  placeholder="Escreibe un comentario..." ></ion-textarea>
            </div>
          </ion-col>
          <ion-col size="2">
            <div>
              <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                <ion-fab-button  class="edditor-send" size="small" color="primary" type="submit" (click)="send()">
                  <ion-icon name="send-sharp"></ion-icon>
                </ion-fab-button>
              </ion-fab>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid> -->
     
  </form>
  </ion-card-content>
</ion-card>
