<ion-card>
  <ion-card-header>
    <ion-card-title>Comentarios</ion-card-title>
  </ion-card-header>

  <ion-card-content> 

    <ion-list>
      <ion-item *ngIf="listComments.length < 1">
        <label>Se el primero en comentar!!!</label>
      </ion-item>
      <ion-item class="comment-item" *ngFor="let item of listComments">
        <ion-thumbnail slot="start" style="margin: 0px;padding: 0px;">
          <ion-img
            class="comment-image" 
            [src]="item.user.photo ? item.user.photo.urlComplete : 'assets/images/profile.jpg'"
            style="border-radius:50%; background-position:center center; background-size:cover; width:35px; height:35px;">
          </ion-img>
        </ion-thumbnail>

        <div class="comment-data">
          <div class="comment-user">{{item.user.last_name }} {{item.user.first_name }}</div>
          <div class="comment-body">
            {{item.body}}
          </div>
          <div class="comment-date">{{item.created_at}}</div>
        </div>
      </ion-item>
    </ion-list>

    <form (ngSubmit)="send()" >
      <ion-grid>
        <ion-row class="editor">
          <ion-col size="10">
            <div>
              <ion-textarea  class="editor-text" [(ngModel)]="comment.body" name="body"  placeholder="Escreibe aquí" ></ion-textarea>
            </div>
          </ion-col>
          <ion-col size="2">
            <div>
              <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                <ion-fab-button  class="edditor-send" size="small" color="primary" type="submit" (click)="send()">
                  <ion-icon name="send-sharp"></ion-icon>
                </ion-fab-button>
              </ion-fab>

            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
     
  </form>
  </ion-card-content>
</ion-card>
