<div style="margin-top: 20px;;">

  <div *ngIf="withTitle">
    <ion-card-title class="ion-text-center title">Comentarios</ion-card-title>
    <div class="separator"></div>
  </div>

  <div> 

    <ion-list lines="none" style="margin: 0px;padding: 0px;">
      <ion-item *ngIf="listComments.length < 1">
        <ion-note style="font-size: large; margin: 15px;">Se el primero en comentar!!!</ion-note>
      </ion-item>
      <ion-item  *ngFor="let item of listComments" class="team-list">
        <div class="comment-item" *ngIf="!item.edit">
          <ion-button class="menu-right"fill="clear" (click)="openMenuComment(item)" *ngIf="authUser.user.id == item.user_id">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>

          <ion-thumbnail slot="start" class="comment-image">
            <ion-img
              (click)="openViewer(item)"
              class="comment-image" 
              [src]="getPhoto(item)"
              style="border-radius:50%; background-position:center center; background-size:cover; width:40px; height:40px;">
            </ion-img>
          </ion-thumbnail>

          <div class="comment-data">
            <div class="comment-user">
              <ion-text color="dark">
                <a [routerLink]="'/users/' + item.user.id +'/profile'" style="text-decoration: blink;" >
                  {{item.user.last_name }} {{item.user.first_name }}
                </a>
              </ion-text>
            </div>
            <div class="comment-body first-uppercase">
              <ion-text color="light">
                {{item.body}}
              </ion-text>
            </div>
            <div class="comment-date" >
              <ion-text color="light">
                {{ formatDate(item.created_at)}}
              </ion-text>
            </div>
          </div>

        </div>

        <div *ngIf="item.edit" class="comment-edit" >

          <ion-text>Editar comentario</ion-text>

          <ion-textarea  class="form-control editor-text first-uppercase" [(ngModel)]="commentEdit.body" name="body"  placeholder="Añade un comentario..." ></ion-textarea>
          <div class="content-right comment-edit-bts">
            <ion-button slot="end" (click)="editComment()" [disabled]="updatingComment">
              <ion-spinner name="lines" *ngIf="updatingComment" ></ion-spinner>
              Actualizar
            </ion-button>
            <ion-button slot="end" color="light" (click)="cancelEdit(item)"[disabled]="updatingComment" >Cancelar</ion-button>
          </div>
        </div>

       
        

       
      </ion-item>
    </ion-list>

    <div class="content-new">
        <form (ngSubmit)="send()" >

          <div class="content-comment">
            <div class="content-comment-text">
              <ion-textarea  class="editor-text first-uppercase" [(ngModel)]="comment.body" name="body"  placeholder="Escreibe un comentario..." ></ion-textarea>
            </div>
            <div class="content-comment-btn ion-align-self-end">
                <ion-fab-button  class="edditor-send" size="small" color="primary" type="submit" (click)="send()"  [disabled]="sending">
                  <ion-icon name="send-sharp" *ngIf="!sending"></ion-icon>
                  <ion-spinner name="lines" *ngIf="sending" ></ion-spinner>

                </ion-fab-button>
            </div>
          </div>

        
      </form>
    </div>
  </div>
</div>