<ion-content class="ion-padding ion-align-items-center">
    <ion-grid >
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <form #form="ngForm" (ngSubmit)="login(form)">

            <div class="ion-text-center">
              <h3>Fútbol Alem</h3>
            </div>
            <div class="ion-padding">
              <ion-item>
                <ion-input name="email" type="email" placeholder="ejemplo@gmail.com" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="password" type="password" placeholder="Contraseña" ngModel required></ion-input>
              </ion-item>
            </div>
            <div style="color: red; padding-top: 0.2rem" >{{ authUserService.errorsLogin }}</div>

            <div padding>
              <ion-button  type="submit" [disabled]="form.invalid" expand="block">Iniciar Sesión</ion-button>
              <ion-button  expand="block" (click)="openModal()">Registrarme</ion-button>
            </div>


           
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>