<ion-header>
  <ion-toolbar>
    <ion-title>Red Social</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="close()">
          <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="submit()"  (keyup)="redModel.errorsForm.clear()" >

    <ion-item>
      <ion-label position="floating">Red</ion-label>
      <ion-select [(ngModel)]="red.name" name="position_id">
        <ion-select-option [value]="red" *ngFor="let red of redes">{{ red }}</ion-select-option>
      </ion-select>
      <div style="color: red; padding-top: 0.2rem" >{{ redModel.errorsForm.get('position_id') }}</div>

    </ion-item>
  

    <ion-item>
      <ion-label position="floating" >Url</ion-label>
      <ion-input type="text" [(ngModel)]="red.url" name="url"></ion-input>
    </ion-item>
    <div style="color: red; padding-top: 0.2rem" >{{ redModel.errorsForm.get('url') }}</div>


    
   
    <ion-button type="submit"  expand="block">Guardar</ion-button>
  </form>
</ion-content>
