<ion-item *ngIf="notification  && notification.type == 'like'">
     <ion-avatar slot="start" >
      <ion-img 
        [src]="notification.autor.photo ? notification.autor.photo.urlCompleteThumb : pathImages.images.profile_user ">
      </ion-img>
    </ion-avatar>
    <ion-label >
      <h3><b>{{notification.autor.completeName}}</b> ha indicado que le gusta tu publicacion.</h3>
      <ion-text class="date">{{ util.getFormarHumans(notification.created_at)}}</ion-text>
    </ion-label>
</ion-item>

<ion-item *ngIf="notification  && notification.type == 'comment_publication'">
  <ion-avatar slot="start" >
   <ion-img 
     [src]="notification.autor.photo ? notification.autor.photo.urlCompleteThumb : pathImages.images.profile_user">
   </ion-img>
 </ion-avatar>
 <ion-label >
   <h3><b>{{notification.autor.completeName}}</b> ha comentado tu publicacion.</h3>
   <ion-text class="date">{{ util.getFormarHumans(notification.created_at)}}</ion-text>
 </ion-label>
</ion-item>


<ion-item *ngIf="notification && notification.type == 'admin_team'">
  <ion-avatar slot="start" >
   <ion-img 
     [src]="notification.autor.shield ? notification.autor.shield.urlCompleteThumb : pathImages.images.escudo">
   </ion-img>
 </ion-avatar>
 <ion-label >
   <h3><b>{{authUser.user.completeName}}</b> Fuiste asignado como administrador del equipo <b>{{notification.autor.name}}</b>.</h3>
   <ion-text class="date">{{ util.getFormarHumans(notification.created_at)}}</ion-text>
 </ion-label>
</ion-item>


<ion-item *ngIf="notification && notification.type == 'create_player'">
  <ion-avatar slot="start" >
   <ion-img 
     [src]="notification.autor.shield ? notification.autor.shield.urlCompleteThumb : pathImages.images.escudo">
   </ion-img>
 </ion-avatar>
 <ion-label >
   <h3><b>{{notification.autor.name}}</b> Te ha registrado como jugador de su equipo. Puedes ingresar a tu perfil de jugador y modificar algunos datos.</h3>
   <ion-text class="date">{{ util.getFormarHumans(notification.created_at)}}</ion-text>
 </ion-label>
</ion-item>


<ion-item *ngIf="notification && notification.type == 'team_request_to_player'">
  <ion-avatar slot="start" >
   <ion-img 
     [src]="notification.autor.shield ? notification.autor.shield.urlCompleteThumb : pathImages.images.escudo">
   </ion-img>
 </ion-avatar>
 <ion-label >
   <h3>El equipo <b>{{notification.autor.name}}</b> te ha enviado un solicitud para que formes parte de su plantilla de jugadores.</h3>
   <ion-text class="date">{{ util.getFormarHumans(notification.created_at)}}</ion-text>
 </ion-label>
</ion-item>

<ion-item *ngIf="notification && notification.type == 'player_accept_request_of_team'">
  <ion-avatar slot="start" >
   <ion-img 
     [src]=" utilPhoto.getPhotoPlayer(notification.autor)">
   </ion-img>
 </ion-avatar>
 <ion-label >
   <h3><b>{{notification.autor.name}}</b> aceptó la solicitud y ya es parte de la plantilla de <b>{{notification.object.team.name}}</b>.</h3>
   <ion-text class="date">{{ util.getFormarHumans(notification.created_at)}}</ion-text>
 </ion-label>
</ion-item>


<ion-item *ngIf="notification && notification.type == 'player_reject_request_of_team'">
  <ion-avatar slot="start" >
   <ion-img 
     [src]=" utilPhoto.getPhotoPlayer(notification.autor)">
   </ion-img>
 </ion-avatar>
 <ion-label >
   <h3><b>{{notification.autor.name}}</b> rechazo la solicitud,no desea formar parte de  <b>{{notification.object.team.name}}</b>.</h3>
   <ion-text class="date">{{ util.getFormarHumans(notification.created_at)}}</ion-text>
 </ion-label>
</ion-item>

<ion-item *ngIf="notification && notification.type == 'player_change_team'">
  <ion-avatar slot="start" >
   <ion-img 
     [src]=" utilPhoto.getPhotoPlayer(notification.object)">
   </ion-img>
 </ion-avatar>
 <ion-label >
   <h3>El jugador <b>{{notification.object.name}}</b> ha dejado su equipo para formar parte de <b>{{notification.autor.name}}</b>.</h3>
   <ion-text class="date">{{ util.getFormarHumans(notification.created_at)}}</ion-text>
 </ion-label>
</ion-item>
