

 <ion-tabs slot="top" color="primary">

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="results">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Resultado</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="games">
        <ion-icon name="easel-outline"></ion-icon>
        <ion-label>Partidos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="teams">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Equipos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>

