
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Fútbol Alem </ion-title>
    <ion-buttons slot="secondary">
       <ion-button  routerLink="/notifications" routerDirection="forward">
        <ion-icon name="notifications-outline"></ion-icon>      
        <ion-badge id="notifications-badge" *ngIf="notificationsCount > 0">{{notificationsCount}}</ion-badge>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
  <ion-header>
    <ion-toolbar >
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-list>
      <ion-item routerLink="/my-profile" routerDirection="forward" >
        <app-menu-user style="width: 100%;"></app-menu-user>
      </ion-item>
      <!-- <ion-item>Mis Equipos</ion-item>
      <ion-item>Mis Jugadores</ion-item>
      <ion-item>Mis Partidos</ion-item> -->

      <ion-item lines="full" *ngIf="false">
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-label>
          Toggle Dark Theme
        </ion-label>
        <ion-toggle id="themeToggle" slot="end"></ion-toggle>
      </ion-item>


      <ion-item routerLink="/admin_home" routerDirection="forward" *ngIf="auth.isAdmin()" >Administrar APP</ion-item>
      <ion-item (click)="logout()">
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-router-outlet id="main"></ion-router-outlet>


 <ion-tabs slot="top" color="primary">

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="results">
        <ion-icon name="clipboard-outline"></ion-icon>
        <ion-label>Resultado</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="games">
        <ion-icon name="easel-outline"></ion-icon>
        <ion-label>Partidos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="teams">
        <ion-icon name="people-outline"></ion-icon>
        <ion-label>Equipos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="players">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Jugadores</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="publications">
        <ion-icon name="happy-outline"></ion-icon>        
        <ion-label>3° Tiempo</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  
  </ion-tabs>

