<div>
  <div *ngIf="!firstLoading">

    <ion-grid *ngIf="!errorLoading">
      <div *ngIf="items.length < 1">
        No ha encontrado Jugadores
      </div>
  
      <ion-row>
        <ion-col size="4" *ngFor="let item of items; let i = index">
          <div class="player-list" (click)="selectItem(item)">
            <img class="player-list-photo" [src]="getPhoto(item)" alt="Foto" >
            <ion-text color="dark">
              <h4 class="player-list-name">{{item.name}}</h4>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <div *ngIf="errorLoading" (clcik)="load($event)">
      Volver a Intentar
    </div>

  </div>

  <div *ngIf="firstLoading">
    <ion-row>
      <ion-col size="4" *ngFor="let item of listSkeleton">
        <div class="player-list">
          <ion-skeleton-text class="player-list-photo" animated style="height: 100px;"></ion-skeleton-text>
          <h4 class="player-list-name">
            <ion-skeleton-text animated style="width: 80%; height: 20px;"></ion-skeleton-text>
          </h4>
        </div>
      </ion-col>
    </ion-row>

  </div>

  

</div>