.player-list{
    margin: 5px;
}

.player-list-photo{
    width: 100%;
    vertical-align: middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.player-list-name{
    /*color: black;*/
}

