<ion-card *ngIf="(events.length && team_l && team_v) || isAdmin" >
  <ion-card-header>
    <ion-card-title>Sucesos</ion-card-title>
  </ion-card-header>
    <ion-list >
      
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="team_l"  class="ion-text-start">
            {{team_l.name}}
          </ion-col>
          <ion-col *ngIf="team_v"  class="ion-text-end">
            {{team_v.name}}
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list-header *ngIf="events.length == 0"  color="tertiary">
        <ion-label>Sin registros</ion-label>
      </ion-list-header>

   
      <ion-item *ngFor="let item of events ; let i = index" >
          
        <ion-label >
          <h3 [ngClass]="{'ion-text-end' : item.team.id == team_v.id}">
            <img *ngIf="item.type_event.icon" src="assets/images/{{item.type_event.icon}}"  width="40px">
            {{item.time}}° 
            <b>{{item.type_event.name}}  </b>
            <a [routerLink]="'/player/profile/' + item.player.id" routerDirection="forward" >
              {{item.player.name}}
            </a>
          </h3>
        </ion-label>

        <ion-buttons slot="end" *ngIf="isAdmin">
          <ion-button (click)="confirmDelete(item,i)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>


      </ion-item>
    </ion-list>

    <ion-button *ngIf="isAdmin"  fill="clear" expand="block" (click)="addEvent()">
      Nuevo Suceso
    </ion-button>

</ion-card>