.cover{
    width: 100%;
}

.shield-team{
    display: flex;
    align-items: flex-end;
    padding: 5px;
}

.shield{
    width: 50px;
    height: 50px;
}

.name-team{
    display: inline;
    margin-left: 10px;
    /*vertical-align: middle;*/
}

