<ion-header>
  <ion-toolbar>
    <ion-title>Equipo </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!-- <ion-buttons slot="secondary" *ngIf="canEdit">
      <ion-button (click)="showEdit()">
        <ion-icon name="create"></ion-icon>      
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="team">

  <ion-refresher slot="fixed" (ionRefresh)="init($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div>
    <ion-chip class="chip-admin ion-text-center" color="secondary" *ngIf="isAdmin">
      <ion-text class="msj-is-admin">
        Eres el administrador de este perfil, puede activar la edicion aquí.
      </ion-text>
      <ion-toggle [(ngModel)]="canEdit"></ion-toggle>

    </ion-chip>
  </div>

  <div class="shield-content">
    <div>
      <img class="cover" [src]="getCover()" alt="Portada">
    </div>

    <div class="shield-team bg-l2">
      <img class="shield" [src]="getShield()" alt="Escudo">
      <span class="name-team">{{team.name}}</span>
    </div>

    <div *ngIf="canEdit">
      <ion-button expand="block" fill="outline" (click)="showEdit()">
        <ion-icon name="create"></ion-icon>      
        Editar</ion-button>
    </div>
  </div>

 
  
  <app-notificatio-selected
    *ngIf="false"
    [object]="team"
    [table_name]="'Team'"
    [table_id] = "id"
  ></app-notificatio-selected>

<ion-card *ngIf="playersList.length || canEdit">
  <ion-card-header>
    <ion-item>
      <ion-card-title>
        Jugadores
      </ion-card-title>
      <ion-button *ngIf="canEdit" slot="end" [routerLink]="'/team/' +id +'/players'" routerDirection="forward" >
        <ion-icon name="create"></ion-icon>      
      </ion-button>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    
    <app-player-list 
      [items] = "playersList"
      (eventLoad)="loadPlayers($event)"
      (eventSelect)="playerSelect($event)" 
      [loading] = "playersLoading"
      [errorLoad]="playersErrorLoad"
    ></app-player-list>
  </ion-card-content>

</ion-card>

  <app-red-list
    [nameModel] = "'Team'"
    [idModel] = "id"
    [isAdmin] = "canEdit"
    ></app-red-list>

<app-comments
  [comments] = "team.comments"
  [idRelation]="id"
  [nameRelationModel]="'Team'"

></app-comments>


</ion-content>
