.status{
    width: 100%;
}

.team{
    display: inline;
    width: 100%;
}

.name-team{
    background-color: transparent;
}

.goal-team{
    background-color: transparent;
}

.names{
    width: 80%;
}