<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="admin_home"></ion-back-button>    
    </ion-buttons>
    <ion-title>Partidos</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="openModal()">
        <ion-icon name="add-outline"></ion-icon>      
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="init($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
      
    
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-segment scrollable [(ngModel)]="tabSelected" (ionChange)="selectDate($event)" >
              <ion-segment-button *ngFor="let tab of tabs;let i=index" value="{{i}}" id="sgm_{{i}}" >
                {{ util.setFormatMoment( tab.date )}}
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list-header *ngIf="games.length == 0"  color="tertiary">
        <ion-label>Sin registros</ion-label>
      </ion-list-header>

   
      <ion-item *ngFor="let item of games"  >

        <ion-grid class="status-{{item.status}}">
          <ion-row>
            <ion-col size="10">
              <ion-grid>
                <ion-row>
                  <ion-col size="11">
                    {{item.team_l.name}}
                  </ion-col>
                  <ion-col size="1">{{item.l_goals}}</ion-col>
                </ion-row>

                <ion-row>
                  <ion-col>
                    Vs
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col size="11">
                    {{item.team_v.name}}
                  </ion-col>
                  <ion-col size="1">{{item.v_goals}}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>


            <ion-col size="2">
              <ion-grid>
                <ion-row>
                  <ion-col size-sm="4" size-xs="12">
                    <ion-button  [routerLink]="['/admin/game/',item.id]">
                      <ion-icon name="enter-outline"></ion-icon>
                    </ion-button >
                  </ion-col>
                  <ion-col size-sm="4" size-xs="12">
                    <ion-button (click)="showEdit(item)">
                      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col size-sm="4" size-xs="12">
                    <ion-button (click)="confirmDelete(item)">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
    </ion-list>



</ion-content>
